<div class="listContainer p-5 rounded">
  <ng-content></ng-content>
  <ul class="list-group list-group-horizontal-xxl w-100 flex-column" cdkDrag cdkDropList (cdkDropListDropped)="dropTaskArray($event)">
    <li
      class="list-group-item list-group-item-primary m-1 w-100"
      *ngFor="let activeTaskObj of tasksArray"
      cdkDrag
    >
      <div class="d-flex align-items-center">
        <div
          class="chevron"
          (click)="activeTaskObj.display = !activeTaskObj.display"
        >
          <i class="bi bi-chevron-right"></i>
        </div>
        <span class="fs-4">
          {{ activeTaskObj.date }}
        </span>
      </div>
      <div>
        <ul
          class="list-group list-group-horizontal-xxl w-100 flex-column"
          dragula="VAMPIRES"
          *ngIf="activeTaskObj.display"
          cdkDropList (cdkDropListDropped)="dropTask($event, activeTaskObj.children)"
        >
          <li
            class="list-group-item list-group-item-info m-1 w-100"
            *ngFor="let task of activeTaskObj.children; let i = index"
            cdkDrag
          >
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <div class="chevron" (click)="task.display = !task.display">
                  <i class="bi bi-chevron-right"></i>
                </div>
                <span
                  class="fs-5"
                  *ngIf="!task.inputDisplay; else titleInput"
                  >{{ task.title }}</span
                >
                <ng-template #titleInput>
                  <input
                    class="border-0 rounded"
                    autofocus
                    type="text"
                    [value]="task.title"
                    #updatedTitle
                  />
                </ng-template>
              </div>
              <input
                type="checkbox"
                value=""
                (change)="CheckedTask(task, i)"
                [checked]="task.status"
                *ngIf="!task.status"
              />
            </div>
            <div *ngIf="task.display">
              <div class="fs-6 ms-5 d-flex align-items-center">
                Details:
                <span
                  class="ps-3 bg-light bg-gradient mx-2"
                  *ngIf="!task.inputDisplay; else detailInput"
                  >{{ task.detail }}
                </span>
                <ng-template #detailInput>
                  <textarea class="border-0 rounded mx-2" #updatedDetail>{{
                    task.detail
                  }}</textarea>
                </ng-template>
              </div>
              <div *ngIf="!task.status">
                <div *ngIf="!task.editBtnDisplay">
                  <button
                    type="button"
                    class="btn btn-outline-secondary btn-sm float-end"
                    (click)="
                      task.inputDisplay = true; task.editBtnDisplay = true
                    "
                  >
                    <i class="bi bi-pen"></i>
                  </button>
                </div>

                <div *ngIf="task.editBtnDisplay">
                  <button
                    type="button"
                    class="btn btn-outline-primary btn-sm float-end"
                    (click)="
                      updateTask(task, i);
                      task.inputDisplay = false;
                      task.editBtnDisplay = false
                    "
                  >
                    <i class="bi bi-save"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-danger btn-sm float-end mx-2"
                    (click)="
                      task.inputDisplay = false; task.editBtnDisplay = false
                    "
                  >
                    <i class="bi bi-x-lg"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
